<!-- your html code here -->
<div class="container-fluid m-5">
<div class="row">
    <div class="col-7 m-4 p-2">   
        <p class="fs-4 m-4 text-danger">The First Heading Will Catch Your Eye</p>
        <p class="m-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <br>labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-sm d-flex mt-5 me-5">  
        <div class="d-flex justify-content-start">
            <img src="https://ckeditor.com/blog/is-coding-for-everyone/feature.png" width="300" class="img-fluid mx-auto d-block border rounded" alt="1080px">
        </div>
    </div>
</div>
</div>
</div>